[user]
	name = Asbjørn Apeland
	email = aude@users.noreply.github.com
	signingKey = 7C718B3C995CB28D
[push]
	default = simple
# https://www.lutro.me/posts/push-to-ssh-pull-from-http-s
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[alias]
	subdir-pages-push = "!f() { git subtree push --prefix $1 origin gh-pages; }; f"
	delete-remote-branch = push origin --delete
