[user]
	name = Asbjørn Apeland
	email = aude@users.noreply.github.com
	signingKey = 7C718B3C995CB28D

[push]
	default = simple
	followTags = true

[pull]
	ff = only

[alias]
	ff = merge --ff-only @{upstream}
	wc = whatchanged
	co = checkout
	s = switch
	l = log
	delete-remote-branch = push origin --delete
	subdir-pages-push = "!f() { git subtree push --prefix $1 origin gh-pages; }; f"

# https://www.lutro.me/posts/push-to-ssh-pull-from-http-s
[url "git@github.com:"]
	pushInsteadOf = https://github.com/

# workaround
[http "https://gopkg.in"]
	followRedirects = true

[include]
	path = .gitconfig.local
