set colored-stats on
set completion-ignore-case on
set completion-map-case on
set expand-tilde off
set match-hidden-files on
set page-completions off
#set show-all-if-ambiguous on
set show-all-if-unmodified on

# https://stackoverflow.com/a/1030206/5779151
"\e[A": history-search-backward
"\e[B": history-search-forward
